/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-may-2015, 16:57:23
    Author     : lavitz
*/
.ui-panel{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 125px;
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
}

#panelPost .ui-panel{
    margin-right: 150px;
    margin-left: 125px;
}